:root {
  /* Font Families */
  --mono-basic: 'Noto Sans', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  /* Colors */
  --so-deep-gray: #2d2d2f;
  --deep-gray: #3f3f3f;
  --mid-gray: #656565;
  --light-gray: #efefef;
  --my-blue: #15678a;
  --my-red: #db4a5d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
}

:root {
  color: var(--deep-gray);
  font-size: 1.02em;
  font-family: var(--mono-basic);
}

* {
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  outline: 0px !important;
  list-style-type: none;
  caret-color: var(--so-deep-gray);
}

body {
  background-color: var(--light-gray);
}

input {
  border: 2px solid var(--deep-gray);
  border-radius: 7px;
  padding: 8px;
  margin: 5px;
}

textarea {
  line-height: 1.625;
  padding: 8px;
  border-width: 0px;
}

button {
  border-width: 0px;
  padding: 6px 7px;
  font-size: 1.06em;
  margin: 5px;
}

.hover-up {
  transition: 0.2s;
}
.hover-up:hover {
  transform: translateY(-3px);
}

/* The slide-enter animation utility */
@keyframes slide-enter {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.slide-enter-content > * {
  --delay: 120ms;
  --start: 0ms;
  animation: slide-enter 0.25s both 1;
  animation-delay: calc(var(--start) + var(--delay) * var(--stagger));
}

.slide-enter-content > *:nth-child(1) {
  --stagger: 1;
}
.slide-enter-content > *:nth-child(2) {
  --stagger: 2;
}
.slide-enter-content > *:nth-child(3) {
  --stagger: 3;
}
.slide-enter-content > *:nth-child(4) {
  --stagger: 4;
}
.slide-enter-content > *:nth-child(5) {
  --stagger: 5;
}
.slide-enter-content > *:nth-child(6) {
  --stagger: 6;
}
.slide-enter-content > *:nth-child(7) {
  --stagger: 7;
}
.slide-enter-content > *:nth-child(8) {
  --stagger: 8;
}
.slide-enter-content > *:nth-child(9) {
  --stagger: 9;
}
.slide-enter-content > *:nth-child(10) {
  --stagger: 10;
}
.slide-enter-content > *:nth-child(11) {
  --stagger: 11;
}
.slide-enter-content > *:nth-child(12) {
  --stagger: 12;
}
.slide-enter-content > *:nth-child(13) {
  --stagger: 13;
}
.slide-enter-content > *:nth-child(14) {
  --stagger: 14;
}
.slide-enter-content > *:nth-child(15) {
  --stagger: 15;
}
.slide-enter-content > *:nth-child(16) {
  --stagger: 16;
}
.slide-enter-content > *:nth-child(17) {
  --stagger: 17;
}
.slide-enter-content > *:nth-child(18) {
  --stagger: 18;
}
.slide-enter-content > *:nth-child(19) {
  --stagger: 19;
}
.slide-enter-content > *:nth-child(20) {
  --stagger: 20;
}
